### ðŸ“˜ Dictionary Theory in Python

A **dictionary** in Python is an **unordered collection** of data in a **key-value** pair format.

---

#### âœ… Key Features:
- Each item in a dictionary is a pair: `key: value`.
- Keys must be **unique** and **immutable** (e.g., strings, numbers, tuples).
- Values can be of any data type and can repeat.
- Dictionaries are **mutable**, meaning they can be updated.

---

### ðŸ“š Syntax:

```python
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

In [76]:
#1.Empty Dictionary
d={}
print(type(d))
#2.1D Dictionary
d1={'Name':'sujal'}
d1
#3.with mixed keys
d2={(1,2,3):1,'name':"hari"}
print(d2) 
#4.2D dictionaries
student={
    'name':"sujal",
    'college':'anand',
    'id':'22AI027',
    'Subject':{ 
        'DSA':50,
        'oops':100,
        'DBMS':98
        }
    }
print(student)
#5.using sequence and dict function
d3=dict([('name','Sujal'),('age',32)])
d3
#6.duplicate keys
d4={'name':"Sujal",
    'name':"mayank"} #inthis case only last one will print 
d4                 #because it is replaced by first one.
#7.mutable items as key
'''d5={'name':'Rakesh',
    [1,2,3]:1
    }      
d5'''  #this item will throw error because the mutable 
        #item set as key ðŸ˜Œ
#immutable item as a key
d5={'name':'Rakesh',
    (1,2,3):1
    }      
d5

<class 'dict'>
{(1, 2, 3): 1, 'name': 'hari'}
{'name': 'sujal', 'college': 'anand', 'id': '22AI027', 'Subject': {'DSA': 50, 'oops': 100, 'DBMS': 98}}

{'name': 'Rakesh', (1, 2, 3): 1}

# Accessing Items

In [77]:
my_dict={'name':"sujal",'age':23}
#[] Key deke value ko lelo
print(my_dict['age'])
print(my_dict['name'])
#get
my_dict.get('name')
#Fetch values from 2D Dictionary
student['Subject']['DBMS']

23
sujal

98

# Adding KEY:Value pairs

In [78]:
''' syntax:
apni dictionary ka naam jisme add karna h ['Key Pair jo add karna h'] = 'value jo add karni h '
'''


my_dict={'name':"sujal",'age':23}
my_dict['gender']='male'  
my_dict['height']=5
my_dict

student['Subject']['DataScience']=45
student

{'name': 'sujal',
 'college': 'anand',
 'id': '22AI027',
 'Subject': {'DSA': 50, 'oops': 100, 'DBMS': 98, 'DataScience': 45}}

# Remove KEY:VALUE Pairs

In [79]:
d={'name': 'sujal', 'age': 23, 'gender': 'male', 'height': 5}
#pop-->jo key denge uska key:value pair dlt ho jata
#d.pop('height')
#print(d)
#popitem-->last wale ko hta deta h
#d.popitem()
#del
del d["gender"]
d
#clear-->dictionary ko empty kar deta h 
d.clear()
d
del student['Subject']['DBMS']
student

{'name': 'sujal',
 'college': 'anand',
 'id': '22AI027',
 'Subject': {'DSA': 50, 'oops': 100, 'DataScience': 45}}

# Editing Key value pair

In [82]:
student['id']='22AI023'
student
student['Subject']['DataScience']=98
student

{'name': 'sujal',
 'college': 'anand',
 'id': '22AI023',
 'Subject': {'DSA': 50, 'oops': 100, 'DataScience': 98}}

# Dictionary Opration 
1. Membership
2. Iteration

In [91]:
#Membership operator work over keys 
#agr key value jo apn dhund rhe h woh h toh h i woh true batayega anytha nahi
d={'name': 'sujal', 'age': 23, 'gender': 'male', 'height': 5}
'name' in d
'sujal' not in d

#iteration
for i in d:
    print(i,d[i]) #d[i]= Yeh yha pe dictionary ki values print karwa dega 
                    #qki i sirf key values hi dega

name sujal
age 23
gender male
height 5

# Dictionary Functions

In [94]:
#len // Sorted
d={'name': 'sujal', 'age': 23, 'gender': 'male', 'height': 5}
len(d)
sorted(d)
min(d)
max(d)

'name'

In [98]:
#items/Keys/values
d={'name': 'sujal', 'age': 23, 'gender': 'male', 'height': 5}
print(d.items())#Ye har ek key value pair ko list me tuple ki form me save karta h
print(d.keys()) #ye saari dictionary ki key return karta hai
print(d.values()) #ye saari dictionary ki value return karta hai

dict_items([('name', 'sujal'), ('age', 23), ('gender', 'male'), ('height', 5)])
dict_keys(['name', 'age', 'gender', 'height'])
dict_values(['sujal', 23, 'male', 5])

In [102]:
d1={1:2,2:3,3:4,4:5}
d2={6:7,8:9,4:9}
d1.update(d2)
d1

{1: 2, 2: 3, 3: 4, 4: 9, 6: 7, 8: 9}

# Dictionary Comprehension

In [105]:
#print 1st 10 number and their squares
{i:i**2 for i in range(1,11) if i%5==0}

{5: 25, 10: 100}

In [107]:
#using existing dictionary
distances={'Delhi':1000,'Mumbai':2000,'Bengaluru':3000}
{key:value*0.621371 for (key,value) in distances.items()}

{'Delhi': 621.371, 'Mumbai': 1242.742, 'Bengaluru': 1864.113}

In [110]:
#ZIP
days=["Sunday","monday","Tuesday","Wednesday","Friday","Saturaday"]
temp=[21.9,32.3,42.42,23.3,23.4,21.3,41.4]
{j:k for (j,k) in zip(days,temp) }

{'Sunday': 21.9,
 'monday': 32.3,
 'Tuesday': 42.42,
 'Wednesday': 23.3,
 'Friday': 23.4,
 'Saturaday': 21.3}

In [115]:
#using if condition
product={'phone':12,'laptop':0,'Charger':23,'bottle':0}
{j:k for (j,k) in product.items() if k!=0}

{'phone': 12, 'Charger': 23}

# Nested Comprehension

In [120]:
#For print table of number  from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5) }

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [ ]:
{
    2:{1:2,2:4,3:6,4:8},
    3:{1:3,2:6,3:9,4:12},
    4:{1:4,2:8,3:12,4:16}
}