# TUPLES 
Tuple in Python
	•	A tuple is an ordered and immutable collection of items.
	•	Defined using parentheses ().
	•	Can contain different data types and duplicate values.

Key Points
	1.	Elements are accessed using indexing (0-based).
	2.	Immutable → cannot change elements after creation.
	3.	Supports slicing, concatenation, repetition, and membership tests.

Common Operations
	•	len(tuple) → length
	•	tuple[i] → access element
	•	tuple1 + tuple2 → join
	•	element in tuple → check existence

Tuple vs List
	•	Tuple: Immutable, faster, memory-efficient
	•	List: Mutable, can be modified

In [56]:
t1=() # Empty Tuple
type(t1) 
#Single ELment ka tuple banane ke liye humko last me ek comma lagana padta h taki compileer smjh paaye ki yeh konsa datatype h 
t2=('a',) # Agar me comma nahi lagata hu toh ye string ban jygi
type(t2)
#homogeneous tuple
t3=(1,2,3,4,5)
type(t3)
#hetero
t4=(1,"henry",True,4.5,print,[1,2,3,4])
print(type(t4))
#Nestes Tuple
t5=(1,2,3,(4,5,6))
(t5)
#Type Conversion
t6=("JayBhawani")
(tuple(t6))

<class 'tuple'>

('J', 'a', 'y', 'B', 'h', 'a', 'w', 'a', 'n', 'i')

# Accessing Items
1. Indexing 
2. Slicing

In [57]:
#indexing
t3
t3[3]
#Slicing
t3[1:5]

(2, 3, 4, 5)

# Edit int tuple

In [58]:
#as like list 
a=(1,2,3,4,5)
a[0]=30
#### Immutable just like strings cant be edited

TypeError: 'tuple' object does not support item assignment

# Adding items

In [60]:
print(a)
#not possible

(1, 2, 3, 4, 5)

# Deletion in Tuple

In [59]:
#not possible

# Operation in Tuples

In [81]:
# + and *
t1=(1,2,3,4,5)
t2=(6,7,8,9,10)
(t1+t2)
(t1*2,t2*2)

#membership
(5 in t1)
(10  not in t2)


#iteration
for i in t1:
 print (i)

1
2
3
4
5

# Tuple Functions

In [104]:
#len/Sum/min/max/sorted
t1=(23,34,5,6,32,42,4,424,3)
t2=(6,7,8,9,10)
#len
print(len(t1))
#min
print(min(t1))
print(min(t1))

#max
print(max(t1))
print(max(t2))

#sorted
sorted(t1)
sorted(t1,reverse=True)

9
3
3
424
10

[424, 42, 34, 32, 23, 6, 5, 4, 3]

In [107]:
#Count
print(t1.count(3))
#index
print(t1.index(4))

1
6

# Difference between list and tuples
1. syntax
2. Mutability
3. Speed
4. Built in function
5. Memory
6. Error Prone 
7. Usability

In [108]:
#tuple Unpacking
(a,b,c)=(1,2,3)
print(a,b,c)

1 2 3

In [109]:
##Swaping
a=1
b=2
a,b = b,a

print(a,b)

2 1

In [112]:
'''(a,b)=(1,3,4,4)
print(a,b)''' #too many values to unpack (expected 2)
# To overcome with this thing we write --
a,b,*others=(1,3,4,4) # include *
print(a,b)
print(others)

1 3
[4, 4]

In [113]:
#Zipping Tuple 
a=(1,2,3,4)
b=(5,6,7,8)
tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))