In [182]:
import numpy as np
import pandas as pd

# Series from List

In [183]:
#String
country=["india",'pakistan','usa','Srilanka','nepal']
pd.Series(country)

0       india
1    pakistan
2         usa
3    Srilanka
4       nepal
dtype: object

In [184]:
#integer
run_series=([23,4,3,2,33,443,2,3,3,2,2,3])
pd.Series(run)

0      23
1       4
2       3
3       2
4      33
5     443
6       2
7       3
8       3
9       2
10      2
11      3
dtype: int64

In [185]:
#Custom Index
marks=[23,43,43,56]
Subject=['maths','english','urdu','sanskrit']
pd.Series(marks,index=Subject)

maths       23
english     43
urdu        43
sanskrit    56
dtype: int64

In [186]:
#Setting a name
marks=pd.Series(marks,index=Subject,name="sujal ke Marks")
marks

maths       23
english     43
urdu        43
sanskrit    56
Name: sujal ke Marks, dtype: int64

# Series from Dictionary

In [187]:
marks={
    'maths':23,
    'english':43,
    'urdu':43,
    'sanskrit':56
}
marks_series=pd.Series(marks,name="sujal   ke  marks")
marks_series

maths       23
english     43
urdu        43
sanskrit    56
Name: sujal   ke  marks, dtype: int64

# Series Attributes

In [188]:
#size --> series me kitne items h
marks_series.size

4

In [190]:
#dtype--> datatype btata h 
marks_series.dtype

dtype('int64')

In [ ]:
#name ---> List ka name bta deta h 
marks_series.name

In [ ]:
#is_unique --> ye btata h ki aapke series ke sare item unique hai ya nahi
marks_series.is_unique
a=pd.Series([1,1,1,2,3,2,13,45432,422,4,32])
a.is_unique

In [ ]:
#index
marks_series.index
run_series.index

In [ ]:
#values
type(marks_series.values)

# Series using Read_CSV

In [ ]:
#with one col
subs=pd.read_csv("subs.csv")

In [ ]:
vk=pd.read_csv("kohli_ipl.csv",index_col='match_no')
vk

In [ ]:
# yha pe humne movie ko index banaya h 
bolly=pd.read_csv("bollywood.csv",index_col='movie')

In [ ]:
#yha pe humne lead ko index banaya h 
pd.read_csv('bollywood.csv',index_col='lead')

# series Method

In [ ]:
#head--> preview deta h start se 
print(subs.head(15)) # andar ye likhte h ki kitne chahiye
print(vk.head(11)) 
print(bolly.head(3))

In [ ]:
#tail --> preview deta h piche se 
vk.tail(5)

In [ ]:
#sample--> Randomly koi bhi ek row nikalke dedeta h  
vk.sample(5) #kitni values cahiye
bolly.sample(4)

In [ ]:
#value_count--> value ki frequency btata h 
bolly.value_counts()

In [ ]:
vk.sort_values(by='runs',ascending=False).head(5).values[0] #false karne
#se Descending me aagya

In [ ]:
'''yeh jo sort hai temporary changes karta h original 
wale me koi changes nahi karta matlab agar me ab apna 
 vk ko wapis print karau toh that is same''' 
vk

In [ ]:
''' lekin me changes karna chahu toh kar skta hu by 
using "inplace=True'' se'''
vk.sort_values(by='runs',inplace=True)
vk
#now the values are sorted in original one

          runs
match_no
87           0
211          0
207          0
206          0
91           0
...        ...
164        100
120        100
123        108
126        109
128        113

[215 rows x 1 columns]