In [4]:
import pandas as pd
import numpy as np

In [7]:
# What are the vectorises string operation 
a=np.array([1,2,3,4])
a*4

array([ 4,  8, 12, 16])

In [9]:
#problem in vectorised operation in vanilla python
s=['cat','mat',None,'rat']
[i.startswith('c') for i in s ]

AttributeError: 'NoneType' object has no attribute 'startswith'

In [11]:
#how pandas will solve this issue 
s=pd.Series(['cat','rat',None,'mat'])
# string accessor
s.str.startswith('c')

0     True
1    False
2     None
3    False
dtype: object

In [13]:
#import titanic
df=pd.read_csv('titanic.csv')

In [19]:
df['Name'].str.lower()
df['Name'].str.capitalize()
df['Name'].str.title()

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [23]:
df[df['Name'].str.len()==82].values

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
307,308,1,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.0,1,0,PC 17758,108.9,C65,C